apiVersion: apps/v1
kind: Deployment
metadata:
  name: react-frontend
  labels:
    app: react-frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: react-frontend
  template:
    metadata:
      labels:
        app: react-frontend
    spec:
      containers:
      - name: react-frontend
        image: nginx:alpine
        command: ["/bin/sh", "-c"]
        args:
          - |
            echo "<h1>Hello from Frontend!</h1>
            <p>Backend says: $(curl -s http://node-backend.backend-app.svc.cluster.local:5000)</p>" > /usr/share/nginx/html/index.html;
            nginx -g 'daemon off;'
        ports:
        - containerPort: 80
