apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-backend
  labels:
    app: node-backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: node-backend
  template:
    metadata:
      labels:
        app: node-backend
    spec:
      containers:
        - name: node-backend
          image: node:20-alpine
          command: ["node", "-e"]
          args:
            - >
              const http = require('http');
              const port = process.env.PORT || 5000;
              const server = http.createServer((req, res) => {
                res.writeHead(200, {'Content-Type': 'text/plain'});
                res.end('Hello from arfath test Backend!');
              });
              server.listen(port);
              console.log('Backend running on port', port);
          ports:
            - containerPort: 5000
